<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>ACTIVIDAD FÍSICA / EJERCICIO</h2>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

 <form action="" method="POST">

  <p><u>Patron habitual</u> (En su domicilio): <input type="text" name="PaHabitual"></p>


    <label for="deambulacion">Deambulación: </label>
      <select class="form-control" id="deambulacion" name="Deambulación">
        <option>Sin ayuda</option>
        <option>Con ayuda</option>
        <option>Reposo prolongado en cama</option>
      </select>


      <label for="actividadFisica">Realiza actividad física: </label>
        <select class="form-control" id="actividadfisica" name="ActividadFisica">
          <option>Diaria</option>
          <option>3 a 5 x semana</option>
          <option>1 a 2 x semana</option>
          <option>No</option>
        </select>


      <label for="antecaidas">Antecedentes de caídas: </label>
        <select class="form-control" id="antecaidas" name="AnteCaídas">
          <option>Si</option>
          <option>No</option>
        </select>


      <label for="actirecrea">Realiza actividades recreativas en su tiempo libre: </label>
        <select class="form-control" id="actirecrea" name="ActiRecreativas">
          <option>Si</option>
          <option>No</option>
        </select>


    <br><br><p><u>Estado respiratorio:</u> <input type="text" name="EstaRespiratorio"></p>
    <p>Patron respiratorio: <input type="text" name="PatronRespiratorio"></p>
    <p>FR: <input type="text" name="FR"></p>


    <label for="ritmorespira">Ritmo: </label>
        <select class="form-control" id="ritmorespira" name="RitmoRespira">
          <option>Regular</option>
          <option>Irregular</option>
        </select>

    <label for="amplitudrespira">Amplitud: </label>
        <select class="form-control" id="amplitudrespira" name="AmplitudRespira">
          <option>Amplio</option>
          <option>Escaso</option>
        </select>

    <label for="simerespira">Simetría: </label>
        <select class="form-control" id="simerespira" name="SimeRespira">
          <option>Simétrico</option>
          <option>Asimetrico</option>
        </select>


  <br><br><p><u>Estado cardiovascular:</u> <input type="" name="EstaCardio"></p>
  <p>Pulso: <input type="text" name="Pulso"></p>
  FC: <input type="number" name="FC">

    <label for="ritmocardio">Ritmo: </label>
        <select class="form-control" id="ritmocardio" name="RitmoCardio">
          <option>Regular</option>
          <option>Irregular</option>
        </select>

    <label for="intensicardio">Intensidad: </label>
        <select class="form-control" id="intensicardio" name="IntensiCardio">
          <option>Nitido</option>
          <option>Débil</option>
        </select>

    <label for="tensioncardio">Amplitud: </label>
        <select class="form-control" id="tensioncardio" name="TensionCardio">
          <option>Duro</option>
          <option>Blando</option>
        </select>

    <label for="amplitudcardio">Amplitud: </label>
        <select class="form-control" id="amplitudcardio" name="AmplitudCardio">
          <option>Amplia</option>
          <option>Escasa</option>
        </select>
    <br>TA sistolica acostado:   <input type="number" name="TAsistolica">
    <br>TA diastolica acostado: <input type="number" name="TAdiasto">
    <br>TA sistolica sentado:    <input type="number" name="TAsisto">
    <br>TA diastolica sentado: <input type="number" name="TAdias">

  <br><br><br><p><u>Actividades de la Vida diaria (AVD)</u></p>

    <label for="alimentacion">Alimentación: </label>
        <select class="form-control" id="alimentacion" name="Alimentación">
          <option>Independiente</option>
          <option>Utiliza dispositivos de ayuda</option>
          <option>Con ayuda de una persona</option>
          <option>Dependiente total</option>
        </select>

    <label for="baño">Baño/Eliminacion: </label>
        <select class="form-control" id="baño" name="Baño">
          <option>Independiente</option>
          <option>Utiliza dispositivos de ayuda</option>
          <option>Con ayuda de una persona</option>
          <option>Dependiente total</option>
        </select>

    <label for="aseo">Aseo/Higiene: </label>
        <select class="form-control" id="aseo" name="Aseo">
          <option>Independiente</option>
          <option>Utiliza dispositivos de ayuda</option>
          <option>Con ayuda de una persona</option>
          <option>Dependiente total</option>
        </select>

    <label for="vestido">Vestido: </label>
        <select class="form-control" id="vestido" name="Vestido">
          <option>Independiente</option>
          <option>Utiliza dispositivos de ayuda</option>
          <option>Con ayuda de una persona</option>
          <option>Dependiente total</option>
        </select>

    <label for="movicama">Movilidad en cama: </label>
        <select class="form-control" id="movicama" name="MoviCama">
          <option>Independiente</option>
          <option>Utiliza dispositivos de ayuda</option>
          <option>Con ayuda de una persona</option>
          <option>Dependiente total</option>
        </select>


    <br><br><label >Comentario:</label><br>
      <textarea class="form-control" id="Comentario" rows="3"  name="ComentarioAdc"></textarea>
    <p><button type="submit" class="get-started-btn">Enviar</button></p>

</form>