<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>ACTIVIDAD FÍSICA / EJERCICIO</h2>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

 <form action="/pacientes/actividad" method="POST">

  <p><u>Patron habitual</u> (En su domicilio):</p>


    <label for="Deambulacion">Deambulación: </label>
      <select class="form-control" id="Deambulacion" name="Deambulacion">
        <option>Sin ayuda</option>
        <option>Con ayuda</option>
        <option>Reposo prolongado en cama</option>
      </select>


      <label for="ActFisica">Realiza actividad física: </label>
        <select class="form-control" id="ActFisica" name="ActFisica">
          <option>Diaria</option>
          <option>3 a 5 x semana</option>
          <option>1 a 2 x semana</option>
          <option>No</option>
        </select>


      


      <label for="ActRecreativa">Realiza actividades recreativas en su tiempo libre: </label>
        <select class="form-control" id="ActRecreativa" name="ActRecreativa">
          <option>Si</option>
          <option>No</option>
        </select>

<label for="Caidas">Antecedentes de caídas: </label>
        <select class="form-control" id="Caidas" name="Caidas">
          <option>Si</option>
          <option>No</option>
        </select>

    <br><br><p><u>Estado respiratorio:</u> </p>
    <p>Patron respiratorio:</p>
    <p>FR: <input type="number" name="FR"></p>


    <label for="RitmoFR">Ritmo: </label>
        <select class="form-control" id="RitmoFR" name="RitmoFR">
          <option>Regular</option>
          <option>Irregular</option>
        </select>

    <label for="AmplitudFR">Amplitud: </label>
        <select class="form-control" id="AmplitudFR" name="AmplitudFR">
          <option>Amplio</option>
          <option>Escaso</option>
        </select>

    <label for="SimetriaFR">Simetría: </label>
        <select class="form-control" id="SimetriaFR" name="SimetriaFR">
          <option>Simétrico</option>
          <option>Asimetrico</option>
        </select>


  <br><br><p><u>Estado cardiovascular:</u></p>
  <p>Pulso:</p>
  FC: <input type="number" id="FC" name="FC"><br><br>

    <label for="RitmoFC">Ritmo: </label>
        <select class="form-control" id="RitmoFC" name="RitmoFC">
          <option>Regular</option>
          <option>Irregular</option>
        </select>

    <label for="IntensidadFC">Intensidad: </label>
        <select class="form-control" id="IntensidadFC" name="IntensidadFC">
          <option>Nitido</option>
          <option>Débil</option>
        </select>

    <label for="TensionFC">Tension: </label>
        <select class="form-control" id="TensionFC" name="TensionFC">
          <option>Duro</option>
          <option>Blando</option>
        </select>

    <label for="AmplitudFC">Amplitud: </label>
        <select class="form-control" id="AmplitudFC" name="AmplitudFC">
          <option>Amplio</option>
          <option>Escaso</option>
        </select>
    <br>TA sistolica acostado:   <input type="number" name="TAsa">
    <br>TA diastolica acostado: <input type="number" name="TAda">
    <br>TA sistolica sentado:    <input type="number" name="TAss">
    <br>TA diastolica sentado: <input type="number" name="TAds">

  <br><br><br><p><u>Actividades de la Vida diaria (AVD)</u></p>

    <label for="Alimentacion">Alimentación: </label>
        <select class="form-control" id="Alimentacion" name="Alimentacion">
          <option>Independiente</option>
          <option>Utiliza dispositivos de ayuda</option>
          <option>Con ayuda de una persona</option>
          <option>Dependiente total</option>
        </select>

    <label for="Eliminacion">Baño/Eliminacion: </label>
        <select class="form-control" id="Eliminacion" name="Eliminacion">
          <option>Independiente</option>
          <option>Utiliza dispositivos de ayuda</option>
          <option>Con ayuda de una persona</option>
          <option>Dependiente total</option>
        </select>

    <label for="Aseo">Aseo/Higiene: </label>
        <select class="form-control" id="Aseo" name="Aseo">
          <option>Independiente</option>
          <option>Utiliza dispositivos de ayuda</option>
          <option>Con ayuda de una persona</option>
          <option>Dependiente total</option>
        </select>

    <label for="Vestido">Vestido: </label>
        <select class="form-control" id="Vestido" name="Vestido">
          <option>Independiente</option>
          <option>Utiliza dispositivos de ayuda</option>
          <option>Con ayuda de una persona</option>
          <option>Dependiente total</option>
        </select>

    <label for="Movilidad">Movilidad en cama: </label>
        <select class="form-control" id="Movilidad" name="Movilidad">
          <option>Independiente</option>
          <option>Utiliza dispositivos de ayuda</option>
          <option>Con ayuda de una persona</option>
          <option>Dependiente total</option>
        </select>


    <br><br><label >Comentario:</label><br>
      <textarea class="form-control" id="ComentarioADC" rows="3"  name="ComentarioAdc"></textarea>
    <p><button type="submit" class="get-started-btn">Enviar</button></p>

</form>