<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>COGNITIVO / PERCEPTIVO</h2>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" >

<form action="formulario.php" method="POST">

                <div class="form-group">

                Orientado en:<br>
                  <input type="checkbox" value="Tiempo" name=" ">Tiempo<br>
                  <input type="checkbox" value="Espacio" name=" ">Espacio<br>
                  <input type="checkbox" value="Persona" name=" ">Persona<br>
                  <br>

                Habla:<br>
                  <input type="checkbox" value="Clara" name=" ">Clara<br>
                  <input type="checkbox" value="Confusa" name=" ">Confusa<br>
                  <input type="checkbox" value="Afasica" name=" ">Afasica<br>
                  <input type="checkbox" value="Gestual" name=" ">Gestual<br>
                  <input type="checkbox" value="Incomprensible" name=" ">Incomprensible<br>
                  <br>

                Organización del pensamiento:<br>
                  <input type="checkbox" value="Coherente" name=" ">Coherente<br>
                  <input type="checkbox" value="Organizado" name=" ">Organizado<br>
                  <input type="checkbox" value="Delirante" name=" ">Delirante<br>
                  <br>

                Memoría:<br>
                  <input type="checkbox" value="Reciente" name=" ">Reciente<br>
                  <input type="checkbox" value="Remota" name=" ">Remota<br>
                  <br>

                <br><p><u>Sensorio:</u></p>

                Visión:<br>
                  <input type="checkbox" value="Sinproblemas" name=" ">Sin problemas<br>
                  <input type="checkbox" value="Déficit" name=" ">Déficit<br>
                  <input type="checkbox" value="Conlentes" name=" ">Con lentes<br>
                <label for="start">Fecha ultima deposición:</label>
                  <input type="date" id="start" name="FechaUltiDepo"
                    value="2020-11-4"
                    min="2000-11-4" max="2021-01-30"><br>

                Audición:<br>
                  <input type="checkbox" value="sinproblemas" name=" ">Sin problemas<br>
                  <input type="checkbox" value="Déficit" name=" ">Déficit<br>
                  <input type="checkbox" value="conayuda" name=" ">Con ayuda<br>
                  <br>

                <label>Capacidad para leer: </label>
                <select class="form-control" id="leer" name="Leer">
                    <option value="Si">Si</option>
                    <option value="No">No</option>
                </select>
                <label>para escribir : </label>
                <select class="form-control" id="escribir" name="Escribir">
                    <option value="Si">Si</option>
                    <option value="No">No</option>
                </select>
                <br>

                <br><label><u>Dolor: </u></label>
                <select class="form-control" id="dolor1" name="Dolor1">
                    <option value="Si">Si</option>
                    <option value="No">No</option>
                </select>
                <label>Intensidad: </label>
                <select class="form-control" id="intensidad1" name="Intensidad1">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <label>Localización: </label>
                <select class="form-control" id="localizacion1" name="Localizacion1">
                    <option value="General">General</option>
                    <option value="cefalea">cefalea</option>
                    <option value="Torax">Torax</option>
                    <option value="abdomen">abdomen</option>
                    <option value="espalda">espalda</option>
                    <option value="MSI">MSI</option>
                    <option value="MS">MS</option>
                    <option value="MII">MII</option>
                    <option value="MID">MID</option>
                    <option value="DchaCadera">DchaCadera</option>
                    <option value="IzdaZona">IzdaZona</option>
                    <option value="quirurgica">quirurgica</option>
                    <option value="Cadera">Cadera</option>
                </select>
                <br>

                <br><label><u>Dolor: </u></label>
                <select class="form-control" id="dolor2" name="Dolor2">
                    <option value="Si">Si</option>
                    <option value="No">No</option>
                </select>
                <label>Intensidad: </label>
                <select class="form-control" id="intensidad2" name="Intensidad2">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <label>Localización: </label>
                <select class="form-control" id="localizacion2" name="Localizacion2">
                    <option value="General">General</option>
                    <option value="cefalea">cefalea</option>
                    <option value="Torax">Torax</option>
                    <option value="abdomen">abdomen</option>
                    <option value="espalda">espalda</option>
                    <option value="MSI">MSI</option>
                    <option value="MS">MS</option>
                    <option value="MII">MII</option>
                    <option value="MID">MID</option>
                    <option value="DchaCadera">DchaCadera</option>
                    <option value="IzdaZona">IzdaZona</option>
                    <option value="quirurgica">quirurgica</option>
                    <option value="Cadera">Cadera</option>
                </select>

                                <label for="Comentario">Comentario Adicional:</label>
                                <textarea class="form-control" id="Comentario" rows="3" name="ComentarioAdc"></textarea>
                                </div>
          
                           <p><button type="submit" class="get-started-btn">Enviar</button></p>
</form>
</div>