<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>ELIMINACION</h2>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

 <form action="" method="POST">

  <p><u>Eliminación intestinal:</u></p>

    <label for="freciintes">Frecuencia: </label>
      <select class="form-control" id="freciintes" name="Frecuencia">
        <option value="Incontinencia">Incontinencia</option>
        <option value="Mas de una vez al día">Más de una vez al día</option>
        <option value="Diaria">Diaria</option>
        <option value="Día por medio">Día por medio</option>
        <option value="Mas de 3 dias">más de 3 dias</option>
      </select>


      <label for="caracintes">Características: </label>
        <select class="form-control" id="caracintes" name="CaracIntes">
          <option>Formadas</option>
          <option>Semiblandas</option>
          <option>Semilíquidas</option>
        </select>


      <label for="start">Fecha ultima deposición:</label>
        <input type="date" id="start" name="FechaUltiDepo"
          value="2020-11-4"
          min="2020-11-4" max="2021-01-30"><br>


  <br><br><p><u>Eliminación urinaria:</u></p>

    <label for="frecuuri">Frecuencia: </label>
        <select class="form-control" id="frecuuri" name="FrecuUri">
          <option>Solamente durante el día</option>
          <option>También en la noche</option>
          <option>Incontinencia</option>
        </select>

    <label for="caracuri">Características: </label>
        <select class="form-control" id="caracuri" name="CaracUri">
          <option>Sui Generis</option>
          <option>Oscura</option>
          <option>Hematuria</option>
        </select>


  <br><br><br><p><u>Eliminación por piel:</u></p>

    <label for="sudoracion">Sudoración: </label>
        <select class="form-control" id="sudoracion" name="Sudoración">
          <option>Excesiva</option>
          <option>Normal</option>
          <option>Nula</option>
        </select>


    <br><br><label >Comentario:</label><br>
      <textarea class="form-control" id="Comentario" rows="3"  name="ComentarioAdc"></textarea>
    <p><button type="submit" class="get-started-btn">Enviar</button></p>

</form>