 <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" >
      <div class="container">
        <h2>NUTRICIONAL/METABOLICO</h2>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" >

<form action="/pacientes/nutricional" method="POST">
                <div class="form-group">
          <p><h1>Patrón habitual (En su domicilio)</h1></p>
          <br>
                    <label>Horario de las comidas: </label>
                    <select class="form-control" id="Horarios" name="Horarios">
                        <option value="Regular">Regular</option>
                        <option value="Irregular">Irregular</option>
                        <option value="Entre horas">Entre horas</option>
                  </select><br>
              
                    <label >Ingesta de líquidos (aproximadamente):</label>
                    <select class="form-control" id="Liquido" name="Liquido">
                        <option value="Menos de 1 lt">Menos de 1lt</option>
                        <option value="1 a 2 lts">1 a 1lt</option>
                        <option value="Mas de 2 lts">Mas de 2lts</option>
                  </select><br>
              
                    <label >Calidad:</label>
                    
                  <input type="checkbox" value="Agua" name="Calidad[]">Agua<br>
                  <input type="checkbox" value="Jugos" name="Calidad[]">Jugos<br>
                  <input type="checkbox" value="Mate" name="Calidad[]">Mate<br>
                  <input type="checkbox" value="Te" name="Calidad[]">Té<br>
                  <input type="checkbox" value="Bebidas gaseosas" name="Calidad[]">Bebidas gaseosas<br>
                  <input type="checkbox" value="Bebidas alcoholicas" name="Calidad[]">Bebidas alcoholicas<br>
                  
                  <br>
              
                
                     
              <label>¿Dietas específicas?: </label>
                <select class="form-control" id="Dietas" name="Dietas">
                    <option value="Si">Si</option>
                    <option value="No">No</option>
                </select>
                <br>


                ¿Cuál/es?:<br>
                  <input type="checkbox" value="Hiposodica" name="CualDieta[]">Hiposodica<br>
                  <input type="checkbox" value="Adelgazar" name="CualDieta[]">Para adelgazar<br>
                  <input type="checkbox" value="Vegana" name="CualDieta[]">Vegana<br>
                  <input type="checkbox" value="Vegetariana" name="CualDieta[]">Vegetariana<br>
                  <input type="checkbox" value="Otra" name="CualDieta[]">Otra<br>
                  <br>

                      <label>Intolerancia alimenticia</label>
                <select class="form-control" id="Intolerancia" name="Intolerancia">
                    <option value="Si">Si</option>
                    <option value="No">No</option>
                </select>
                <br>

                ¿A qué?:<br>
                  <input type="checkbox" value="Grasas" name="AQue[]">Grasas<br>
                  <input type="checkbox" value="Leche" name="AQue[]">Leche<br>
                  <input type="checkbox" value="Picantes" name="AQue[]">Picantes<br>
                  <input type="checkbox" value="Otros" name="AQue[]">Otros<br>
                <br>
              <label>¿Cambios de peso en el ultimo mes?: </label>
                <select class="form-control" id="CambioPeso" name="CambioPeso">
                    <option value="Si">Si</option>
                    <option value="No">No</option>
                </select>
                <br>


              <label >¿Cuanto?</label>
                    <select class="form-control" id="CuantoPeso" name="CuantoPeso">
                        <option value="Bajo hasta 5 Kg">Bajo hasta 5 Kg</option>
                        <option value="Bajo mas de 5 Kg">Bajo mas de 5 Kg</option>
                        <option value="Aumento hasta 5 Kg">Aumento hasta 5 Kg</option>
                         <option value="Aumento mas de 5 Kg">Aumento mas de 5 Kg</option>
                  </select><br>
                  
                  <p><h1>Patrón actual</h1></p>
          <br>
                   <p>Talla (mt): <input type="number" name="Talla"> </p>
                    <p>Peso (kg): <input type="number" name="Peso"> </p>
                     <p>IMC: <input type="number" name="IMC"> </p>

                      <br>
                      ¿Presencia de?:<br>
                  <input type="checkbox" value="Nauseas" name="Presencia[]">Nauseas<br>
                  <input type="checkbox" value="Vomitos" name="Presencia[]">Vómitos<br>
                  <input type="checkbox" value="Disfagia" name="Presencia[]">Disfagia<br>
                  <input type="checkbox" value="Anorexia" name="Presencia[]">Anorexia<br>

              <label>Estado e higiene de la cavidad bucal:</label>
                    <select class="form-control" id="HigieneBucal" name="HigieneBucal">
                        <option value="Bueno">Bueno</option>
                        <option value="Regular">Regular</option>
                        <option value="Malo">Malo</option>
                  </select><br>

                          <label >Problemas bucales:</label>
                    <select class="form-control" id="ProblemasBucales" name="ProblemasBucales">
                        <option value="Faltan piezas bucales">Faltan piezas dentales</option>
                        <option value="Protesis dental">Prótesis dental</option>
                  </select><br>

              <label>Estado e higiene de la piel:</label>
                    <select class="form-control" id="HigienePiel" name="HigienePiel">
                        <option value="Bueno">Bueno</option>
                        <option value="Regular">Regular</option>
                        <option value="Malo">Malo</option>
                  </select><br>


              <label >Piel:</label>
                    <select class="form-control" id="Piel" name="Piel">
                         <option value="Flexible">Flexible</option>
                         <option value="Fragil">Frágil</option>
                        <option value="Deshidrata">Deshidratada</option>
                  </select><br>

              <label>UPP(1)
                    <select class="form-control" id="UPP1" name="UPP1">
                        <option value="Talon dcho">Talón Derecho</option>
                        <option value="Talon izdo">Talón izquierdo</option>
                        <option value="Sacro dcho">Sacro derecho</option>
                        <option value="Sacro izdo">Sacro izquierdo</option>
                        <option value="Escapula dcho">Escapular derecho</option>
                        <option value="Escapula izdo">Escapular izquierdo</option>
                        <option value="Otra">Otra</option>
                  </select><br></label>
                    <p>Extension (cm x cm)(1)<input type="number" name="Extension1"> </p>
              <label >Estadio (1)
                    <select class="form-control" id="Estadio1" name="Estadio1">
                        <option value="I">I</option>
                        <option value="II">II</option>
                        <option value="III">III</option>
                        <option value="IV">IV</option>
                  </select></label><br><br>


              <label>UPP(2)
                    <select class="form-control" id="UPP2" name="UPP2">
                        <option value="Talon dcho">Talón Derecho</option>
                        <option value="Talon izdo">Talón izquierdo</option>
                        <option value="Sacro dcho">Sacro derecho</option>
                        <option value="Sacro izdo">Sacro izquierdo</option>
                        <option value="Escapula dcho">Escapular derecho</option>
                        <option value="Escapula izdo">Escapular izquierdo</option>
                        <option value="Otra">Otra</option>
                      
                  </select></label><br>
                    <p>Extension (cm x cm)(2)<input type="number" name="Extension2"> </p>
              <label >Estadio (2)
                    <select class="form-control" id="Estadio2" name="Estadio2">
                        <option value="I">I</option>
                        <option value="II">II</option>
                        <option value="III">III</option>
                        <option value="IV">IV</option>
                  </select></label><br><br>



              <label>UPP(3)
                    <select class="form-control" id="UPP3" name="UPP3">
                        <option value="TalonDe3">Talón Derecho</option>
                        <option value="TalonIz3">Talón izquierdo</option>
                        <option value="SacroDe3">Sacro derecho</option>
                        <option value="SacroIz3">Sacro izquierdo</option>
                        <option value="EscapularDe3">Escapular derecho</option>
                        <option value="EscapularIz3">Escapular izquierdo</option>
                        <option value="Otra">Otra</option>
                  </select></label><br>
                    <p>Extension (cm x cm)(3)<input type="number" name="Extension3"> </p>
              <label >Estadio (3)</label>
                    <select class="form-control" id="Estadio3" name="Estadio3">
                        <option value="I">I</option>
                        <option value="II">II</option>
                        <option value="III">III</option>
                        <option value="IV">IV</option>
                  </select><br>

              <label>¿Otras lesiones?:</label>
                <select class="form-control" id="OtraLesion" name="OtraLesion">
                    <option value="Si">Si</option>
                    <option value="No">No</option>
                </select>
              <label for="Comentario">Localización:</label>
                     <textarea class="form-control" id="Localizacion" rows="3" name="Localizacion"></textarea>
              


              <label>Prurito:</label>
                <select class="form-control" id="Prurito" name="Prurito">
                    <option value="Si">Si</option>
                    <option value="No">No</option>
                </select>

              <label>¿Edemas?</label>
                <select class="form-control" id="Edemas" name="Edemas">
                    <option value="Si">Si</option>
                    <option value="No">No</option>
                </select>
                ¿Dónde?:<br><br>
                  <input type="checkbox" value="Sacro" name="Donde[]">Sacro<br>
                  <input type="checkbox" value="Pretibiales" name="Donde[]">Pretibiales<br>
              <label>Grado</label>
                    <select class="form-control" id="Grado" name="Grado">
                        <option value="+">+</option>
                        <option value="++">++</option>
                        <option value="+++">+++</option>
                        <option value="++++">++++</option>
                  </select><br>

                      <p>Temperatura: <input type="number" name="Temperatura"> </p>

                                <label for="Comentario">Comentario Adicional:</label>
                                <textarea class="form-control" id="Comentario" rows="3" name="ComentarioAdc"></textarea>
                                </div>
          
                           <p><button type="submit" class="get-started-btn">Enviar</button></p>
</form>
</div>